/* selector :not(selector2)---> loại trừ
 */

/* ul li:not(.acctive, .light) {
    color: red;
    first-child : chọn thanhf phần con đầu tiên
    last-child : chọn thành phần con cuối cùng
    first-of-type : chọn thành phần cùng kiểu đầu tiên
    last-of-type : chọn thành phần cùng kiểu cuối cùng
} */

/* ul li:first-child {
    color: red;
}

ul li:last-child {
    color: green;
} */

/* ul li:first-of-type {
    color: red;
}

ul li:last-of-type {
    color: green;
} */
/* ul li:nth-child(5) {
    color: red;
} */

/* ul li:nth-of-type(5) {
    color: red;
} */

.checkbox input:checked~span {
    color: red;
}

.checkbox input:disabled~span {
    color: green;
}

.checkbox input:disabled:checked~span {
    color: gold;
}

.name:valid {
    background: yellow;
}